includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/inc/
    autoload_files:
        - %currentWorkingDirectory%/tests/acf-pro-stubs.php
    autoload_directories:
        - %currentWorkingDirectory%/inc/
